body{
    font-family: 'Chonburi', cursive;
    font-family: 'Mali', cursive;
    
}
h1{
    font-family: 'Rubik Distressed', cursive;
}
h2{
    font-family: 'Rubik Distressed', cursive;
    font-size: xx-large;
}
h3{
    font-family: 'Rubik Distressed', cursive;
    font-size: xx-large;
}